* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --cor-bg: aqua;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.cor {
    background-color: var(--cor-bg);
}